* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.title {
	font-style: normal;
	font-family: sans-serif;
	font-weight: 20px;
	font-size: 40px;
	color: #ff5722;
}
.image {
	padding: 25px;
}
.image img {
	height: 450px;
	width: 350px;
}
.d1 {
	display: flex;

}
.d2 {
	color: #009688;
	font-size: 24px;
	font-style: italic;
	padding: 30px;
	padding-top: 40px;
}
.d3 {
	padding-right: 30px;
	padding-top: 160px;
	color: #96008a;
	font-size: 24px;
	font-style: italic;
}